<app-banner/>
<div class="animate-simpleColor">
    Animación de color en bucle
  </div>
<div class="flex flex-col justify-center items-start gap-12 bg-neutral-800">
    <div class="w-screen h-screen flex justify-evenly items-center">
        <div class="w-36 h-36 bg-gray-500 animate-simpleColor"></div>
        <div class="w-36 h-36 bg-gradient-to-r from-pink-500 via-yellow-500 to-green-500 bg-[length:200%_200%] animate-gradientMove"></div>
        <div class="w-36 h-36 bg-yellow-400 animate-shake"></div>
    </div>

    <div class="flex justify-evenly items-center w-full">
        <div class="w-36 h-36 bg-orange-500 animate-movement "></div>
        <div class="w-36 h-36 bg-orange-300 animate-pulse"></div>
        <div class="w-36 h-36 bg-cyan-500 animate-shape"></div>
    </div>
</div>