 <!-- Footer -->
 <footer 
 [ngClass]="colorTheme() === 'green' 
    ? 'bg-gradient-to-r from-green-600 to-slate-800' 
    : 'bg-gradient-to-r from-slate-900 to-slate-500'
    "
 class="w-full backdrop-blur-md text-white py-8 px-4 shadow-xl">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">

    <!-- Logo y descripción -->
    <div>
      <h3 class="text-2xl font-bold mb-2">Agrolink 360</h3>
      <p class="text-sm text-gray-300">Plataforma integral para productores, compradores y logística agrícola. Conectamos el campo con el mercado de manera eficiente.</p>
    </div>

    <!-- Enlaces Rápidos -->
    <div>
      <h4 class="font-semibold">Enlaces</h4>
      <ul class="space-y-1 text-gray-300 text-sm">
        <li class="transform transition-transform duration-300 ease-in-out hover:scale-105">
          <a routerLink="/" routerLinkActive="font-semibold text-white" class="text-gray-300 hover:text-white transition-colors duration-300">
            Inicio
          </a>
        </li>
        <li class="transform transition-transform duration-300 ease-in-out hover:scale-105">
          <a routerLink="/users" routerLinkActive="font-semibold text-white" class="text-gray-300 hover:text-white transition-colors duration-300">
            Usuarios
          </a>
        </li>
        <li class="transform transition-transform duration-300 ease-in-out hover:scale-105">
          <a routerLink="/users/productores" routerLinkActive="font-semibold text-white" class="text-gray-300 hover:text-white transition-colors duration-300">
            Productos
          </a>
        </li>
        <li class="transform transition-transform duration-300 ease-in-out hover:scale-105">
          <a routerLink="/users/compradores" routerLinkActive="font-semibold text-white" class="text-gray-300 hover:text-white transition-colors duration-300">
            Compradores
          </a>
        </li>
        <li class="transform transition-transform duration-1000 hover:scale-110"><a href="#" class="hover:text-white">Servicios</a></li>
        <li class="transform transition-transform duration-1000 hover:scale-110"><a href="#" class="hover:text-white">Contacto</a></li>
      </ul>
    </div>

    <!-- Contacto -->
    <div>
      <h4 class="font-semibold mb-2">Contacto</h4>
      <div class="flex flex-col space-y-2 text-white text-sm">
        <a href="https://wa.me/59177797353" target="_blank"
        class="flex items-center space-x-2 text-green-600 hover:text-slate-900 transition duration-300 transform transition-transform duration-1000 hover:scale-150">
          <i class="pi pi-whatsapp text-xl"></i>
          <span class="text-white">Contactar</span>
        </a>
        <a href="tel:+59177797353">
          <div class="flex items-center space-x-2 hover:text-slate-900 transform transition-transform duration-1000 hover:scale-150">
            <i class="pi pi-phone text-lg text-neutral-800"></i>
            <span>Tel: +591 777 973 530</span>
          </div>
        </a>
        <a href="mailto:ejemplo@correo.com" 
          class="hover:text-blue-300 transition duration-300">
          <div class="flex items-center space-x-2 hover:text-slate-900 transform transition-transform duration-1000 hover:scale-150">
            <i class="pi pi-envelope text-lg text-neutral-800"></i>
            <span>Email: info&#64;agrolink360.com</span>
          </div>
        </a>
        <a href="https://www.google.com/maps/@-17.7708549,-63.1802641,3996m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MDYxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:text-blue-800"

        class="flex items-center space-x-2 text-red-600 hover:text-slate-900 transition duration-300 transform transition-transform duration-1000 hover:scale-150">
          <i class="pi pi-map-marker text-xl"></i>
          <span class="text-white">Dirección: Santa Cruz, Bolivia</span>
        </a>
      </div>
    </div>

    <!-- Redes Sociales -->
    <div>
      <h4 class="font-semibold mb-2">Síguenos</h4>
      <div class="flex space-x-4">
        <a href="#" class="text-blue-600 hover:text-blue-500 transform transition-transform duration-500 ease-in-out hover:scale-175">
          <i class="pi pi-facebook text-2xl"></i>
        </a>
        <a href="#" class="text-pink-600 hover:text-pink-500 transform transition-transform duration-500 ease-in-out hover:scale-175">
          <i class="pi pi-instagram text-2xl"></i>
        </a>
        <a href="#" class="text-sky-600 hover:text-sky-500 transform transition-transform duration-500 ease-in-out hover:scale-175">
          <i class="pi pi-twitter text-2xl"></i>
        </a>
      </div>
    </div>

  </div>

  <!-- Línea separadora -->
  <div [ngClass]="colorTheme() === 'green' 
    ? 'border-t border-green-700 text-slate-800' 
    : 'border-t border-slate-900 text-emerald-100'"
    class="mt-2 pt-2 text-center text-sm">
    © 2025 AgroLink 360. Todos los derechos reservados.<br>Developer to Ing. Hernan Flores Ramirez
</div>
</footer>