 <!-- Footer -->
 <footer 
 [ngClass]="colorTheme() === 'green' 
    ? 'bg-gradient-to-r from-green-600 to-slate-800' 
    : 'bg-gradient-to-r from-slate-900 to-slate-500'
    "
 class="w-full backdrop-blur-md text-white py-8 px-4 shadow-xl">
 
 <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center space-y-6 md:space-y-0">
   <div class="text-center md:text-left space-y-2">
     <h2 class="text-2xl font-bold tracking-wide">AgroLink 360</h2>
     <p class="text-sm text-white/80">Transformando la gestión agroindustrial con tecnología inteligente.</p>
   </div>

   <div class="flex space-x-6 text-sm">
     <a href="#" class="hover:text-yellow-300 transition">Nosotros</a>
     <a href="#" class="hover:text-yellow-300 transition">Servicios</a>
     <a href="#" class="hover:text-yellow-300 transition">Contacto</a>
   </div>

   <div class="flex space-x-4 text-lg">
     <a href="#" class="hover:text-blue-700 transition"><i class="pi pi-facebook text-2xl"></i></a>
     <a href="#" class="hover:text-pink-700 transition"><i class="pi pi-instagram text-2xl"></i></a>
     <a href="#" class="hover:text-sky-700 transition"><i class="pi pi-twitter text-2xl"></i></a>
   </div>
 </div>

 <div class="mt-6 text-center text-sm font-bold text-white/60">
   © 2025 AgroLink 360. Desarrollado por Hernán Flores Ramírez.
 </div>
</footer>
